
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bungee+Spice&family=Frijole&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mogra&family=Nabla&family=Press+Start+2P&family=Rubik+Glitch&family=Rubik+Puddles&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #000000, #3e0f5b);
    color: white;
    
}

nav{
    background-image: linear-gradient(to bottom, #363537, #000000);
    color: white;
     font-family: "Frijole", system-ui;
     font-size: 15px;
}

.titulo{
    margin-bottom: 7vh;
     font-family: "Frijole", system-ui;
}

/* Esconde o input nativo, mas o mantém acessível ao JavaScript/Label */
.input-escondido {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Estilo do seu botão customizado (o Label) */
.botao-customizado {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer; /* Indica que é clicável */
    transition: background-color 0.3s;
    font-family: sans-serif;
    margin-right: 10px;
}

.botao-customizado:hover {
    background-color: #0056b3;
}
#campos{
    margin-top: 10vh;
    width: 75vh;
    
}
/* subtitulos como o escolher templetes e seus templetes */
h2{
    margin-top: 7vh;
     font-family: "Frijole", system-ui;
}
/* botões do escolher templete */
#botoes{
    width: 14vh;
    height: 6vh;
    font-size: 22px;
    box-shadow: inset 0 2px 10px  #350361;
}
/* botao criar template */
#new{
    width: 15vh;
    height: 7vh;
    font-size: 15px;
    box-shadow: inset 0 2px 10px  #350361;
}
.criar{
    margin-left: 15vh;
}
/*botão de escolher arquivo customizado*/
.botao-customizado{
    box-shadow: inset 0 2px 10px  #350361;
     width: 20vh;
     height: 6vh;

}